<%- include("./partials/header") %>

<%- include("./partials/nav") %>
  
<h1 class="Heading">Book Store Library</h1>

    <% books.forEach(function(book){ %>
        <h1><%= book.book %></h1>
        <h1><%= book.author %></h1>
    <% }) %>

 


  <%- include("./partials/footer") %>