<%- include("./partials/header") %>
  
<h1 class="Heading">Book Store Library</h1>

           <div class="cards_container ">

            <% books.forEach(function(book, idx){ %>
                
                <div class="cards rounded-5">

                    <h3 class="fs-1 text-center"><%= book.book %></h3>
                    <h3 class="fs-2 text-center fw-bold text-secondary"><%= book.author %></h3>

                    <div class="d-flex justify-content-between mt-4">
                        <h3 class="fs-4">P - <%= book.price %></h3>
                        <h3 class="fs-4">Q - <%= book.qua %></h3>
                    </div>

                    <h3 class="fs-5"><%= book.lan %></h3>
                    <h3 class="fs-5"><%= book.cat %></h3>
                    <p class="">description - <%= book.description %> </p>
            
                    <div class="btn-container">
                        <button class="btn btn-primary"><a href="/delete/<%= book._id %>">delete</a></button>
                        <button class="btn btn-danger"><a href="/update/<%= book._id %>">update</a></button>
            
                    </div>

                </div>
         
                 
             <% }) %>

           </div>
         

   
   
  <%- include("./partials/footer") %>