<%- include("./partials/header") %>


  
<h1 class="Heading text-center">Book Store Entry</h1>

<form class="container bg-secondary-subtle  mt-2 p-2 bg-light" action="/update/<%= book._id %>" method="post">
  <input class="form-control" type="text" placeholder="Book Name" name="book" value="<%= book.book %>"> <br>
  <input class="form-control" type="text" placeholder="Author Name" name="author" value="<%= book.author%>"  > <br>
  <input class="form-control" type="text" placeholder="Book Price" name="price" value="<%=book.price%>" > <br>
  <input class="form-control" type="text" placeholder="Book Quantity" name="qua" value="<%= book.qua %>" > <br>
  <input class="form-control" type="text" placeholder="Book Language" name="lan" value="<%= book.lan %>"> <br>
  <input class="form-control" type="text" placeholder="Book Category" name="cat" value="<%= book.cat %>"> <br>
  <textarea class="form-control" name="description"  placeholder="Enter Text here" cols="50" rows="4">
    <%= book.description%>
  </textarea>
  <button class="btn btn-primary m-3">Update Book</button>
</form>


  <%- include("./partials/footer") %>